

.wrapper {
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
}

.topofpage {
	margin: 0 auto;
/*	padding-top: 150px;*/
	display: block;
	background-color: #EEEEEA;
		border-style: groove;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	margin-bottom: 10px;
}

.bannerphoto{
	width: 900px;
}
.icon{
	width: 40px;
	padding: 0;
	margin: 30 30 30 30;
/*	float: left;*/
	display: inline;
	position: absolute; 
	top: 100px; 
	left: 100px;
}

.wrapper .navbar {
padding: 10 10 10 100px;
position: absolute; 
top: 100px; right: 100px;

}

.wrapper .navbar .navchunk {
	display: inline;
	color: red;
	vertical-align: top;
	padding: 10px;
	margin: 1px;
}

.wrapper .navbar .navchunk img {
	width: 100px;
	vertical-align: -85px;
	padding-top: 10px;
	padding-bottom: 10px
}

button {
	padding: 12px;
	font-size: 12px
	border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
    background-color: 	#E6E6E6;
   
}

.button a:hover{
	color: #fff;
	background-color: #369;
	font-family: helvetica;
}


.leftcol {
	clear: left;
	width: 50%;
	float: left;
	color: red;
	padding-top: 10px;
	padding-bottom: 10px;
}
.leftcol .studiopix {
	width: 400px;
	display: block;
	border-style: groove;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	margin-bottom: 10px;
}

.rightcol {
	width: 50%;
	float: left;
}
.rightcol p {
	font-family: helvetica;
	padding: 10px;
	color: gray;
}
.rightcol .linksdiv {
	text-decoration: none;
	font-family: helvetica;
}

.fb {
	padding: 15px;
}

.rightcol .news {
	background-color: #E6E6E6;
	font-color: black;
	font-family: helvetica;

}
.news h3{
	padding: 20px;
}

.rightcol .news h2 {
	font-color: black;
	padding: 20px;
}

